.navbar-default {
  background-color: #008cb3;
  border-color: #149abc;
  padding: 20px 0px 5px 0px;
  margin-bottom: 0px;
  /* font-weight: bold; */

}
.navbar-default .navbar-brand {
  color: #660000;
  font-weight: bold;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #9fd8f4;
  outline: none;
}
.navbar-default .navbar-text {
  color: #05475d;
}
.navbar-default .navbar-nav > li > a {
  color: #05475d;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #9fd8f4;
  outline: none;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #008cb3;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #05475d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #9fd8f4;
  background-color: #149abc;
  outline: none;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #149abc;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #9fd8f4;
  background-color: #149abc;
  outline: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #9fd8f4;
  background-color: #149abc;
  outline: none;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #9fd8f4;
  background-color: #149abc;
  outline: none;
}
.navbar-default .navbar-toggle {
  border-color: #149abc;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #149abc;
  outline: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #05475d;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #05475d;
}
.navbar-default .navbar-link {
  color: #05475d;
}
.navbar-default .navbar-link:hover {
  color: #9fd8f4;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #05475d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #9fd8f4;
    outline: none;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #9fd8f4;
    background-color: #149abc;
    outline: none;
  }
}
