{% extends 'riskyNumber/base.html' %}
{% load staticfiles %}


{% block title_block %}
    About RiskyNumber
{% endblock %}

{% block quote_block %}
{% endblock %}

{% block chart_block %}
    <script>
        var symbol = {{ ticker}}; 
    </script>
    <div style="padding:3px 2px 5px 2px;">
        <div>
            <div id="line">
                
            </div>
        </div>
    </div>
    <div style="padding: 15px 20px 50px 20px;">
        <h3>RiskyNumber:</h3>
        <p>RiskyNumber is a web platform for financial information analytics, primarily for the stock market data. This is not a commercial product. This platform is being developed for personal 
        education & research purposes only. At the moment, this platform is in it's very early stages of development.<br><br>
        The majority of information is derived from the various websites using numerous web-scraping
        technologies based on Python. I can't be sure about the accuracy of financial data and other
        information you find in this platform. In the future, the financial data and information might 
        be imported to this app from reliable commercial sources if it is feasible. Until then, this is 
        just an ongoing personal research project. I hope this app will become a great source for the 
        investors in the very near future. Please visit the platform more frequently for the updates. 
        Thank you for your visit today.<br><br>
        Surya Gurung<br>
        riskyNumber@outlook.com
        </p>
        <br>
    
        <pre style="font-size:16px;">Technologies in RiskyNumber:</pre>
        
        <ul class="list-inline" style="font-size:12px;horizontal-align:center;">
            <li>Python</li>
            <li>Django</li>
            <li>Pandas</li>
            <li>Beautiful Soup</li>
            <li>html 5</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>jQuery</li>
            <li>Bootstrap</li>
            <li>PostgreSQL</li>
            <li>plotly.js</li>
            <li>D3</li>
        </ul>
       
        <br>
        <code>Useful Code Examples:</code>
        <pre><br>Coming Soon<br></pre>
    
    </div>
{% endblock %}

