{% extends 'riskyNumber/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Index
{% endblock %}


{% block chart_block %}
    <div style="padding:3px 2px 5px 2px;" id="chartDiv">
        <ul class="nav nav-tabs" style="background-color:rgb(242, 242, 242);">
            <li class="active" style="width:30%;text-align:center;"><a id="scatter"  href="#line" ></a></li>
            <li style="width:30%;text-align:center;"><a id="candlestick" href="#candle" >CandleStick</a></li>
            <li style="width:20%;text-align:center;"><a id="qNa" href="#Q" >?</a></li>
        </ul>
        <div class="tab-content" style="height:325px; background-color:rgb(242, 242, 242);">
            <div id="line" class="tab-pane fade in active"></div>
            <div id="candle" class="tab-pane fade"></div>
            <div id="Q" class="tab-pane fade"></div>
            <div style="padding:5px 0px 0px 20px;">
                <ul class="list-inline">
                    <li><a id="d1">1D</a></li>
                    <li><a id="d5">5D</a></li>
                    <li><a id="m1">1M</a></li>
                    <li><a id="m6">6M</a></li>
                    <li><a id="y1">1Y</a></li>
                    <li><a id="y2">2Y</a></li>
                    <li><a id="y5">5Y</a></li>
                </ul>
            </div>
        </div>
    </div>   
    
    <script>
        
        var symbol = "{{ticker}}"; 
                      
        {% if ticker %}  
            {% with "d1 d5 m1 m6 y1 y2 y5" as list %}
                {% for tik in list.split %}
                    {% with ticker|add:tik as tikPeriod %}                             
                        document.getElementById("{{tik}}").setAttribute("href","{% url 'chart' tikPeriod  %}"); 
                    {% endwith %}
                {% endfor %}
            {% endwith %}
        {% endif %} 
        
        var dateVal = {{ date|safe }};
                      //.map(function(d) { return new Date(d); });   
        var vol = {{ vol }};
        var mn = {{ min }};
        var mx = {{ max }};
        var openVal = {{ open }}; 
        var highVal = {{ high }};
        var lowVal = {{ low }};
        var closeVal = {{ close }};   
        var volmn = {{ volMin }};
        var volmx = {{ volMax }};
        
        function lineChart(x, y, v, mn, mx) { 
            document.getElementById("scatter").innerHTML = window.symbol;
                                   
            var chartWidth = document.getElementById("line").parentElement.clientWidth;                       
            var d3 = Plotly.d3; 
            //need to put #                                         
            var gd3 = d3.select("#line") 
                        .style({
                                width: (chartWidth - 2) +'px' ,
                                height: "300px",
                            });
            var gd = gd3.node(); //make global variable
            
            var data1 = {
                    x: x,
                    y: y,
                    mode: 'lines',
                    type: 'scatter',
                    fill: 'tozeroy',
                    line: {color:'rgb(0,200,255)'},
                    name: 'Price',  
                    
            };
            var data2 = {
                    x: x,
                    y: v,
                    yaxis: 'y2',
                    //xaxis: 'x2',
                    type: "bar",
                    marker: {
                        color: 'rgb(0, 115, 150)'
                    },  
                    name: 'Volume',
                    hoverinfo: "skip",
            };
            var trace = [data1, data2];
            
            var layout = {
                    autosize: true, 
                    margin:{l:0, t:5, r:45, b:30, pad:0},  
                    dragmode: "pan",
                    showlegend: false,
                    xaxis: {
                            
                            ticks: "outside",
                            type: "category",
                            fixedrange: false, 
                            showgrid: false,
                            nticks: 4,
                            linecolor: "#fff",
                            side: "bottom",
                            tickfont: {size:9, color:'rgb(0, 120, 180)'},
                            },                    
                    yaxis: {
                            fixedrange: true,
                            range: [mn, mx],
                            side: "right",
                            separatethousands: true,
                            exponentformat: "none",
                            nticks: 5,
                            overlaying: "y2",
                            
                            },
                    yaxis2: {
                            range: [volmn, volmx],
                            fixedrange: true,
                            //overlaying: "y",
                            showgrid: false,
                           },
                    };
            Plotly.newPlot(gd, trace, layout, {scrollZoom: true, 
                                            displayModeBar: false });
            //Plotly.newPlot('line', trace, layout, {scrollZoom: true, 
            //                                displayModeBar: false });
                                         
        } // end of lineChart()
        
        
        // make less data for better visible   
        
        function candleChart(x, o, h, l, c, mn, mx) {  
            var chartWidth = document.getElementById("line").parentElement.clientWidth;    
            var d3 = Plotly.d3; 
            var gd3 = d3.select("#candle")
                        .style({
                                width: (chartWidth - 2) +'px' ,
                                height: "300px"
                           });
            var gd = gd3.node(); 
                             
            //var min = {{ min }};
            //var max = {{ max }};
            //x = x.map(function(d) { return new Date(d); }); 
                       
            var fig = PlotlyFinance.createCandlestick(
                    {
                        open: o, 
                        high: h,
                        low: l,
                        close: c,
                        dates: x.map(function(d) { return new Date(d); })
                        
                    }
                );
            
            fig.layout.autosize = true;
            fig.layout.margin = {l:0, t:5, r:45, b:30, pad:0};
            fig.layout.dragmode = "pan";
            
            fig.layout.xaxis = {
                            nticks: 4,
                            type: "date",
                            ticks: "outside",
                            //tickvals:x,
                            //ticktext:x,
                            fixedrange: false, 
                            //autorange: false,
                            showgrid: false,
                            linecolor: "#fff",
                            side: "bottom",
                            tickfont: {size:9, color:'rgb(0, 120, 180)' },
                        };    
                    
            fig.layout.yaxis = {
                            range : [mn, mx],
                            fixedrange: false,
                            side: "right",
                            separatethousands: true,
                            nticks: 6,
                            
                        };
                    
            Plotly.newPlot(gd, fig.data, fig.layout, {scrollZoom: true, 
                                            displayModeBar: false });     
                                  
        } // end of candleChart() 
        
        function resizeChart(w){
            var activeTab = $(".tab-content").find(".active");
            var id = activeTab.attr('id');
            var d3 = Plotly.d3; 
             
            var gd3;                      
               
            gd3 = d3.select("#" + id);
               
            var gd = gd3.node();   
            var update = {
                    width: w -2 
            };                
            Plotly.relayout(gd, update);    
        }
          
        
        $(document).ready(function(){
            $(".nav-tabs a").click(function(event){
                $(this).tab('show'); 
                event.preventDefault(); 
                var id = $(this).attr("id"); //get id value
                
                if ( id == "candlestick"){
                    candleChart(dateVal, openVal, highVal, lowVal, closeVal, mn, mx);  // use newPlot() instead of plot()
                }else if (id == "scatter"){
                    lineChart(window.dateVal, closeVal, vol, mn, mx);    
                };
                
            }); 
           
            
            $(window).resize(function(){
                //updates chartWidth
                var chartWidth = document.getElementById("line").parentElement.clientWidth;                  
                resizeChart(chartWidth);
                      
            });
            
            lineChart(dateVal, closeVal, vol, mn, mx);
        });  
            
        
            
    </script>
    
{% endblock %}

{% block summary_block %}
<div style="background-color:white;padding:0px 15px 0px 15px;" ">
    <table class="table table-hover" style="width:100%;">
        <thead>
            <tr>
                <th style="color:rgb(0,90,180);">Risky Numbers<sup>1</sup>:</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="sTable">
            <script>
                var summary = {{summary|safe}};
                var keys = {{fundamentals|safe}};
                var i;
                var summaryTable = "";
                for (i=0; i < keys.length; i++){
                    if ( i%2 == 0){
                        summaryTable += "<tr><td>" + keys[i] + "</td><td style='text-align:right;font-weight:bold;'>" 
                                                         + summary[keys[i]] + "</td>";                  
                    } else{
                        summaryTable += "<td>" + keys[i] + "</td><td style='text-align:right;font-weight:bold;'>" 
                                                     + summary[keys[i]] + "</td></tr>";     
                    }
                }
                document.getElementById("sTable").innerHTML = summaryTable;
            </script>
        </tbody>
    </table>
</div>
{% endblock %}

{% block feed_block %}
    <script>
        var news = {{ news|safe }};
        var ul = document.createElement("UL");
        ul.setAttribute("id", "newsTitle");
        document.getElementById("feed").appendChild(ul);                               
        for(i =0; i < news.length; i++){
            var li = document.createElement("LI");
            var a = document.createElement("A"); 
            li.appendChild(a);                              
            var newsTitle = document.createTextNode(news[i]["title"]);
            a.setAttribute("href", news[i]["link"]);
            a.appendChild(newsTitle);
            document.getElementById("newsTitle").appendChild(li);
        }
        
    </script>
    
    
<!--
    <script type="text/javascript" 
        src="http://output13.rssinclude.com/output?type=js&amp;id=1115684&amp;
                        hash=280a09cbdd75f69e56fdbec6a1e6be5b">
    </script>
-->
{% endblock %}